# === OS ===
Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
._*

# === IDE ===
.vscode/
.idea/
*.sln
*.suo
*.user
.vs/

# === QElectroTech ===
*.qet~
*.bak

# === Excel ===
~$*.xls*
*.tmp

# === Code ===
*.exe
*.o
*.obj
*.dll
*.log
__pycache__/
*.pyc
node_modules/
dist/
build/
.env

# === Git ===
.gitmessage
